.sidebar {
    width: 250px;
    background-color:  #fa3f06;
    color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 20px 0;
    height: 900px;
}

.item {
    gap: 10px;
    padding: 20px;
    text-decoration: none;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.item:hover {
    gap: 10px;
    transition: 0.15s;
    color: #e64a1b;
    background-color: white;
      border-radius: 10px;

}

.active {
    background-color: white;
    color: #e64a19;
    margin: 0 ;
    border-radius: 10px;
    width: 210px;
}

.logo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50pt;
}

.main-content {
    flex: 1;
    display: flex;
    padding: 40px;
    overflow-y: auto;
    flex-direction: row;
}


img {
    width: 250px;
    height: 200px;
    
}