
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f4f4f4;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

/* SIDEBAR REESTRUTURADA */
.sidebar {
    width: 250px;
    min-height: 100vh;
    background: #fa3f06;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    flex-shrink: 0;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    width: 180px;
    height: auto;
}

.item {
    padding: 18px 20px;
    color: white;
    text-decoration: none;
    transition: .2s;
}

.item:hover, .active {
    background: white;
    color: #fa3f06;
    border-radius: 10px 0 0 10px; /* Mantém o encaixe na tela */
    margin-left: 10px;
}

.perfil {
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    max-width: 1000px;
    text-align: center;
}

.tela {

    margin-left: 50px;
}

.texto {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fa3f06;
    padding: 25px;
}

.heart {
    width: 120px;
    height: 120px;
    background-color: #ffccbc;
    color: #fa3f06;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    margin: 0 auto 15px;
}



label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fa3f06;
}

h3 {
    font-weight: bold;
    color: #333;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     padding-top: 5px;
}

p {
    color: #333;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 5px;
}


img {
    width: 250px;
    height: 200px;
    
}