.sidebar {
    width: 250px;
    background-color: #fa3f06;
    color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 20px 0;
    height: 890px;
}

.item {
    gap: 10px;
    padding: 20px;
    text-decoration: none;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.item:hover {
    gap: 10px;
    transition: 0.1s;
    color: #fa3f06;
    background-color: white;
      border-radius: 10px;

}

.active {
    background-color: white;
    color: #fa3f06;
    margin: 0 ;
    border-radius: 10px;
    width: 210px;
}


.logo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50pt;
}

.main-content {
    flex: 1;
    display: flex;
    padding: 40px;
    overflow-y: auto;
    flex-direction: row;
}

.perfil {
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    max-width: 1000px;
    text-align: center;
}

.tela {

    margin-left: 250px;
}

.texto {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fa3f06;
    padding: 25px;
}

.heart {
    width: 120px;
    height: 120px;
    background-color: #ffccbc;
    color: #fa3f06;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    margin: 0 auto 15px;
}



label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fa3f06;
}

h3 {
    font-weight: bold;
    color: #333;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    color: #333;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


img {
    width: 250px;
    height: 200px;
    
}