
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#f5f5f5;
    display:flex;
}



.sidebar{
    width:250px;
    min-height:100vh;
    background:#fa3f06;
    display:flex;
    flex-direction:column;
    padding:20px 0;
}

.logo{
    text-align:center;
    margin-bottom:20px;
}

.logo img{
    width:200px;
    height:auto;
}

.item{
    padding:18px;
    color:white;
    text-decoration:none;
    font-family:Arial, Helvetica, sans-serif;
    transition:.2s;
}

.item:hover{
    background:white;
    color:#fa3f06;
    border-radius:10px;
}

.active{
    background:white;
    color:#fa3f06;
    border-radius:10px;
}
.main-content {
    flex: 1;
    display: flex;
    padding: 40px;
    overflow-y: auto;
    flex-direction: row;
}

.ranking-container {
    background-color: #ffffff;
  
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    
}

h2 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #e64a19;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
tr:nth-child(1) td {
    font-weight: bold;
    color: #d4af37;
    
}
tr:nth-child(2) td {
    font-weight: bold;
    color: #88857c;
    
}

tr:nth-child(3) td {
    font-weight: bold;
    color: #775d06;
    
}


img {
    width: 250px;
    height: 200px;
    
}